[Unit]
Description=SUMMARIZE
After=network.target

[Service]
WorkingDirectory={{ project_dir }}
ExecStart={{ python_interpreter }} {{ project_dir }}/app.py

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
